
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501289627216'); /* IE9*/
  src: url('iconfont.eot?t=1501289627216#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501289627216') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501289627216') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501289627216#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cs:before { content: "\e63d"; }

.icon-custom:before { content: "\e7a5"; }

.icon-price:before { content: "\e679"; }

.icon-mark:before { content: "\e650"; }

.icon-tel:before { content: "\e600"; }

.icon-cart:before { content: "\e63f"; }

.icon-supplier:before { content: "\e685"; }

.icon-inventory:before { content: "\e64c"; }

.icon-good:before { content: "\e608"; }

.icon-plate:before { content: "\e61b"; }

.icon-history:before { content: "\e829"; }

.icon-close:before { content: "\e607"; }

.icon-order:before { content: "\e68e"; }

.icon-qq:before { content: "\e62e"; }

.icon-phone:before { content: "\e63e"; }

.icon-rectadd:before { content: "\e8de"; }

.icon-add:before { content: "\e8e1"; }

.icon-location:before { content: "\e8ff"; }

.icon-trend:before { content: "\e636"; }

.icon-up:before { content: "\e601"; }

.icon-demand:before { content: "\e62f"; }

.icon-baojia:before { content: "\e602"; }

.icon-member:before { content: "\e752"; }

.icon-review:before { content: "\e671"; }

.icon-down:before { content: "\e900"; }

